Options +FollowSymLinks -MultiViews
RewriteEngine on

RewriteRule ^login/?$ index.php
RewriteRule ^logout/?$ view/profile/logout.php

RewriteRule ^profile/?$ view/profile/index.php
RewriteRule ^users/?$ view/users/index.php
RewriteRule ^user/([a-zA-Z0-9-]*)?$ view/users/detail.php?id=$1

RewriteRule ^products/?$ view/index.php
 

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.+)$ $1.php