Options +FollowSymLinks -MultiViews
RewriteEngine on

RewriteRule ^login/?$ index.php
RewriteRule ^logout/?$ view/profile/logout.php

RewriteRule ^profile/?$ view/profile/index.php
RewriteRule ^users/?$ view/users/index.php
RewriteRule ^user/([a-zA-Z0-9-]*)?$ view/users/detail.php?id=$1

RewriteRule ^products/?$ view/index.php
RewriteRule ^product/([a-zA-Z0-9-]*)?$ view/users/detail.php?slug=$1

RewriteRule ^orders/?$ view/orders/index.php
RewriteRule ^orders/([a-zA-Z0-9-]*)?$ view/orders/detail.php?folio=$1
 
RewriteRule ^auth$ app/AuthController.php
RewriteRule ^brand$ app/BrandController.php
RewriteRule ^client$ app/ClientController.php
RewriteRule ^prod$ app/ProdController.php
RewriteRule ^userc$ app/UserController.php

# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.+)$ $1.php